.profile__add-btn {
  width: 100%;
  max-width: 18.75rem;
  height: 3.125rem;
  padding: 0;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  background-image: url(../../../images/profile/__add-btn/add.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-position: 50% 50%;
  opacity: 1;
  transition: opacity .1s cubic-bezier(.0,.0,.2,1) 0s;
  will-change: opacity;
  cursor: pointer;
}

.profile__add-btn:focus,
.profile__add-btn:hover {
  opacity: .6;
}

.profile__add-btn:active {
  opacity: .4;
}

@media screen and (min-width: 768px) {
  .profile__add-btn {
    width: 9.375rem;
    background-size: 1.375rem 1.375rem;
  }
}
