.header__handler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6875rem;
}

@media screen and (min-width: 768px) {
  .header__handler {
    padding: 0;
  }
}
