.elements__like-btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border: 0;
  background-image: url(../../../images/elements/__like-btn/like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 1.25rem 1.25rem;
  background-position: 50% 50%;
  opacity: 1;
  transition: opacity .2s cubic-bezier(.0,.0,.2,1) 0s,
    background-image .2s cubic-bezier(.0,.0,.2,1) 0s;
  cursor: pointer;
}

.elements__like-btn:focus,
.elements__like-btn:hover {
  opacity: .6;
}

.elements__like-btn:active {
  opacity: .4;
}
