@import './__item/menu__item.css';
@import './__button/menu__button.css';
@import './__link/menu__link.css';

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.main_header__pointer::before {
	content: '';
	position: absolute;
	left: calc(50% - 5px);
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #eee;
	opacity: 0;
	transition: opacity .15s ease-in-out 0s;
}
.main_header__item--active .main_header__pointer::before {
	opacity: 1;
	transition-duration: .25s;
}
.main_header__search_field {
	appearance: none;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	border-bottom: 1px solid rgba(255,255,255,.5);
	color: #fff;
	font-weight: normal;
	outline: none;
	/* reset end */

	position: absolute;
	right: 70px;

	opacity: 0;
	transform: translateX(100%);
	width: 0;
	width: calc(100% - 140px);
	/* animation */
	will-change: opacity, transform, width;
	transform-origin: 100% 50%;
}
.main_header__search_field {
	animation: search_field_hide .15s cubic-bezier(.4, .0, 1, 1) both;
}
.main_header__search_field:focus {
	animation: search_field_show .2s cubic-bezier(0, 0, .2, 1) both;
}
@keyframes search_field_hide {
	0% {
		opacity: 1;
		transform: scaleX(1);
	}
	100% {
		opacity: 0;
		transform: scaleX(0);
	}
}
@keyframes search_field_show {
	0% {
		opacity: 0;
		transform: scaleX(0);
	}
	100% {
		opacity: 1;
		transform: scaleX(1);
	}
}

.main_header__search_field::placeholder {
	color: #fff;
}
.main_header__item--search:focus-within {
	opacity: 1;
}

