@import './vendor/normalize.css';

@import './fonts/fonts.css';

@import './blocks/page/page.css';
@import './blocks/header/header.css';
@import './blocks/container/container.css';
@import './blocks/profile/profile.css';
@import './blocks/elements/elements.css';
@import './blocks/footer/footer.css';
@import './blocks/popup/popup.css';
@import './blocks/popup/_type/popup_type_img.css';
@import './blocks/popup/_opened/popup_opened.css';
