@import './__logo/header__logo.css';
@import './__burger/header__burger.css';
@import './__burger-checkbox/header__burger-checkbox.css';
@import './__burger-icon/header__burger-icon.css';
@import './__link/header__link.css';

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse wrap;
          flex-flow: column-reverse wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.75rem 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  font-size: 0;
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 2.8125rem 0 2.5rem;
    margin: 0 auto;
  }
}
